#pandas==2.3.3
#pyarrow==21.0.0
#yfinance==0.2.66 (--no-deps via docker)
requests==2.32.5
s3fs==2025.9.0
curl-cffi==0.13.0
multitasking==0.0.12
lxml==6.0.2
appdirs==1.4.4
frozendict==2.4.6
beautifulsoup4==4.14.2
html5lib==1.1
cryptography==46.0.2
peewee==3.18.2
platformdirs==4.5.0
websockets==15.0.1
protobuf==6.32.1